## Imports

Start this analysis with EDA then proceed to conducting an inferential analysis. 

The following libraries will be crucial in these first steps.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels
from statsmodels.formula.api import ols
import warnings

load the data ...

In [2]:
df = pd.read_csv('.\data\kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [3]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

## King County Dataset Column Descriptions

* **id:** Unique identifier for a house.
* **date:** Date house was sold.
* **price:** Sale price (prediction target).
* **bedrooms:** Number of bedrooms.
* **bathrooms:** Number of bathrooms.
* **sqft_living:** Square footage of living space in the home.
* **sqft_lot:** Square footage of the lot.
* **floors:** Number of floors (levels) in house.
* **waterfront:** Whether the house is on a waterfront.
* **view:** Quality of view from house.
* **condition:** How good the overall condition of the house is. Related to maintenance of house
* **grade:** Overall grade of the house. Related to the construction and design of the house.
* **sqft_above:** Square footage of house apart from basement.
* **sqft_basement:** Square footage of the basement.
* **yr_built:** Year when house was built.
* **yr_renovated:** Year when house was renovated.
* **zipcode:** ZIP Code used by the United States Postal Service.
* **lat:** Latitude coordinate.
* **long:** Longitude coordinate.
* **sqft_living15:** The square footage of interior housing living space for the nearest 15 neighbors.
* **sqft_lot15:** The square footage of the land lots of the nearest 15 neighbors.

## Exploratory Data Analysis (EDA)

Examine the dataframe, identify inconsistencies, provide a summary statistics of the dataframe to device the best possible solution to rectifying inconsistencies if any.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

Check for null values ...

In [5]:
df.isna().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

## Data cleaning

In [6]:
waterfront_count = df['waterfront'].value_counts()
view_count = df['view'].value_counts()
yr_renovated_count = df['yr_renovated'].value_counts()

print(waterfront_count, view_count, yr_renovated_count)

waterfront
NO     19075
YES      146
Name: count, dtype: int64 view
NONE         19422
AVERAGE        957
GOOD           508
FAIR           330
EXCELLENT      317
Name: count, dtype: int64 yr_renovated
0.0       17011
2014.0       73
2013.0       31
2003.0       31
2007.0       30
          ...
1951.0        1
1953.0        1
1946.0        1
1976.0        1
1948.0        1
Name: count, Length: 70, dtype: int64

Fill in the missing values in the following columns as folllows;

* **waterfront:** Replace NaN with 'UNKNOWN'.
* **view:** Replace Nan with 'UNRATED'.
* **yr_renovated:** Replace null with 0 to indicate the houses were never renovated.

In [7]:
# 'waterfront'
df['waterfront'] = df['waterfront'].fillna('UNKNOWN')

# 'view'
df['view'] = df['view'].fillna('UNRATED')

# 'yr_renovated'
df['yr_renovated'] = df['yr_renovated'].fillna('0')

df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Change the data types of the following columns;

* **id:** integer to object
* **date:** object to datetime
* **bathrooms:** float to integer
* **floors:** float to integer
* **sqft_basement:** object to float
* **yr_renovated:** float to integer
* **zipcode:** integer to object

In [8]:
# convert integers to objects
int_to_obj = ['id', 'zipcode']
df[int_to_obj] = df[int_to_obj].astype(object)

# convert floats to the nearest integer
floats_to_int = ['bathrooms', 'floors', 'yr_renovated']
df[floats_to_int] = df[floats_to_int].round().astype(int)

#convert objects to floats
df['sqft_basement'] = pd.to_numeric(df['sqft_basement'], errors = 'coerce')
df['sqft_basement'].fillna(0.0, inplace = True)

#Convert date object to datetime
df['date'] = pd.to_datetime(df['date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  object
 1   date           21597 non-null  datetime64[ns]
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  int32
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  int32
 8   waterfront     21597 non-null  object
 9   view           21597 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  float64
 14  yr_built       21597 non-null  int64
 15  yr_renovated   21597 non-null  int32
 16  zipcode        21597 non-null  object
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: datetime64[ns](1), float64(4), int32(3), int64(7), object(6)
memory usage: 3.2+ MB

## Data Mapping

A strategic solution to creating more numeric variables which will be essential for modeling.

In [9]:
waterfront_count = df['waterfront'].value_counts()
view_count = df['view'].value_counts()
condition_count = df['condition'].value_counts()


grade_count = df['grade'].value_counts()

print(waterfront_count, view_count, condition_count, grade_count)

waterfront
NO         19075
UNKNOWN     2376
YES          146
Name: count, dtype: int64 view
NONE         19422
AVERAGE        957
GOOD           508
FAIR           330
EXCELLENT      317
UNRATED         63
Name: count, dtype: int64 condition
Average      14020
Good          5677
Very Good     1701
Fair           170
Poor            29
Name: count, dtype: int64 grade
7 Average        8974
8 Good           6065
9 Better         2615
6 Low Average    2038
10 Very Good     1134
11 Excellent      399
5 Fair            242
12 Luxury          89
4 Low              27
13 Mansion         13
3 Poor              1
Name: count, dtype: int64

In [10]:
# Define 'waterfront' mapping
waterfront_map = {
    'NO' : -1,
    'UNKNOWN' : 0,
    'YES' : 1
}

# Fit waterfront_map into 'waterfront'
df['waterfront'] = df['waterfront'].map(waterfront_map)


# Define 'view' mapping
view_map = {
    'NONE' : -1,
    'UNRATED' : 0,
    'FAIR' : 1,
    'AVERAGE' : 2,
    'GOOD' : 3,
    'EXCELLENT' : 4
}

# Fit view_map into 'view'
df['view'] = df['view'].map(view_map)


# Define 'condition' mapping
condition_map = {
    'Poor' : 1,
    'Fair' : 2,
    'Average' : 3,
    'Good' : 4,
    'Very Good' : 5
}

# Fit condition_map into 'condition'
df['condition'] = df['condition'].map(condition_map)


# Define 'grade' mapping
grade_map = {
    '3 Poor' : 1,
    '4 Low' : 2,
    '5 Fair' : 3,
    '6 Low Average' : 4,
    '7 Average' : 5,
    '8 Good' : 6,
    '9 Better' : 7,
    '10 Very Good' : 8,
    '11 Excellent' : 9,
    '12 Luxury' : 10,
    '13 Mansion' : 11
}

df['grade'] = df['grade'].map(grade_map)


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  object
 1   date           21597 non-null  datetime64[ns]
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  int32
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  int32
 8   waterfront     21597 non-null  int64
 9   view           21597 non-null  int64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  float64
 14  yr_built       21597 non-null  int64
 15  yr_renovated   21597 non-null  int32
 16  zipcode        21597 non-null  object
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: datetime64[ns](1), float64(4), int32(3), int64(11), object(2)
memory usage: 3.2+ MB

check for duplicates

In [15]:
df.duplicated().sum()

0

check for duplicates in the 'id' column as it should serve as a unique identifier ...

In [13]:
df['id'].nunique()

21420

In [16]:
id_duplicates = df.groupby('id').filter(lambda x: len(x) > 1)
id_duplicates

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
93,6021501535,2014-07-25,430000.0,3,2,1580,5000,1,-1,-1,...,6,1290,290.0,1939,0,98117,47.6870,-122.386,1570,4500
94,6021501535,2014-12-23,700000.0,3,2,1580,5000,1,-1,-1,...,6,1290,290.0,1939,0,98117,47.6870,-122.386,1570,4500
313,4139480200,2014-06-18,1380000.0,4,3,4290,12103,1,-1,3,...,9,2690,1600.0,1997,0,98006,47.5503,-122.102,3860,11244
314,4139480200,2014-12-09,1400000.0,4,3,4290,12103,1,-1,3,...,9,2690,1600.0,1997,0,98006,47.5503,-122.102,3860,11244
324,7520000520,2014-09-05,232000.0,2,1,1240,12092,1,0,-1,...,4,960,280.0,1922,1984,98146,47.4957,-122.352,1820,7460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20654,8564860270,2015-03-30,502000.0,4,2,2680,5539,2,0,-1,...,6,2680,0.0,2013,0,98045,47.4759,-121.734,2680,5992
20763,6300000226,2014-06-26,240000.0,4,1,1200,2171,2,-1,-1,...,5,1200,0.0,1933,0,98133,47.7076,-122.342,1130,1598
20764,6300000226,2015-05-04,380000.0,4,1,1200,2171,2,-1,-1,...,5,1200,0.0,1933,0,98133,47.7076,-122.342,1130,1598
21564,7853420110,2014-10-03,594866.0,3,3,2780,6000,2,-1,-1,...,7,2780,0.0,2013,0,98065,47.5184,-121.886,2850,6000
21565,7853420110,2015-05-04,625000.0,3,3,2780,6000,2,-1,-1,...,7,2780,0.0,2013,0,98065,47.5184,-121.886,2850,6000

## Data cleaning 

Sort the 'id' duplicated rows by date, keep the rows with the latest dates and drop the rest ...

In [19]:
# sort the df according to date
df = df.sort_values(by= 'date')

# reset the index and drop the old one
df = df.reset_index(drop= True)

# Drop rows with duplicate id but keep the last row
df = df.drop_duplicates(subset= 'id', keep= 'last')

df.shape

(21420, 21)